/* variables */

// General colors
$white: #fff;
$black: #000;
$blue: #0b54b0;
$blue-text: #004494;

$text: #303030;
$text-medium: #666;
$text-dark: #333;

$table-light-gray: #d2d2d2;
$table-row: #f0f0f0;

$legend-1 : #1e6a68;
$legend-2 : #51a1d1;
$legend-3 : #bd3530;
$legend-4 : #ddd;

$bg-footer: #f7f;
$line-footer: #0371cf;

$focus: #ffbf47;
$focus-color: #0b0c0c;
$link-decoration: #a8bfcf;

$line-gray: #757575;
$warning: #e48000;

$inprogress: #d2edfe;
$inprogressInfo: #076abb;
$inprogressDanger: #f00;
$completed: #1e6a68;
$failed: #e48000;
$stopped: #b22a2a;

// themes
$theme1: #076abb;
$theme1-light: #d2edfe;
$theme2: #076abb;
$theme2-light: #d2edfe;
$theme3: #2e7d32;
$theme3-light: #d3efd4;
$theme4: #479f4b;
$theme4-light: #deede9;
$theme5: #b22a2a;
$theme5-light: #ffd9d9;
$theme6: #b23861;
$theme6-light: #ffe5e5;
$theme7: #a3590a;
$theme7-light: #ffedd1;
$theme8: #855f01;
$theme8-light: #ffefc2;
