/* You can add global styles to this file, and also import other style files */
@import 'variables';

/* GENERAL STYLES */

html {
    font-size: 1em; // 16px
}

#app-header {
    align-content: center;
    align-items: center;
    display: flex;

    .title {
        h1.full {
            font-family: 'eui-default';
            font-size: 2.2125em;
            margin: 0;

            a {
                color: $text-dark;
            }
        }
    }

    .right-content {
        margin-top: 0;
        right: 1.25rem;
    }
}

#app-footer {
    ul {
        li {
            &:first-child {
                &::before {
                    display: none;
                }
            }
        }
    }
}

.links {
    label {
        clip: rect(0.0625em 0.0625em 0.0625em 0.0625em);
        clip: rect(0.0625em, 0.0625em, 0.0625em, 0.0625em);
        height: 0.0625em;
        overflow: hidden;
        position: absolute !important;
    }

    select.form-control:not([size]):not([multiple]) {
        width: auto;
    }
}

.ux-c-switch {
    height: 1.125rem;
    margin: 0 0.3rem;

    &.ux-c-switch--checked {
        .ux-c-switch__handle {
            height: 1.125rem;
            left: 1.5rem;
            width: 1.125rem;
        }
    }

    .ux-c-switch__handle {
        height: 1.125rem;
        width: 1.125rem;
    }

    &:focus {
        outline: 0.1428em solid $focus !important;
    }
}

/* --------------------------------------------------- custom ------------------------------------------------------ */
.ocs-flex {
    display: flex;
}

/* padding */
.ocs-padd-0 {
    padding: 0;
}

.ocs-padd-bt {
    padding-bottom: 0 !important;
}

/* position */

.ocs-right {
    float: right;
    text-align: right;
}

.ocs-left {
    float: left;
}

.ocs-pos-top {
    position: relative;
    top: -1em;
}

.ocs-box-button {
    align-items: center;
    display: flex;
    justify-content: center;
}

label,
.label,
.ux-form-group__label,
.font-size-16 {
    font-size: 1.15em;
}

.ocs-no-label {
    label {
        clip: rect(0.0625em 0.0625em 0.0625em 0.0625em);
        clip: rect(0.0625em, 0.0625em, 0.0625em, 0.0625em);
        height: 0.0625em;
        overflow: hidden;
        position: absolute !important;
    }
}

.font-size-14 {
    font-size: 1em;
}

.ocs-font-18 {
    font-size: 1.3em;
}

input {
    border: 0.1428em solid #8f8f8f;
    height: 100%;
}

.ocs-wd-25 {
    width: 18.3em;
}

.ocs-wd-auto {
    width: auto !important;
}

.ocs-element-hidden {
    clip: rect(0.0625em 0.0625em 0.0625em 0.0625em);
    clip: rect(0.0625em, 0.0625em, 0.0625em, 0.0625em);
    height: 0.0625em;
    overflow: hidden;
    position: absolute !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    border: 0 !important;
    outline: 0.1875em solid $focus !important;
    outline-offset: 0;
}

a:focus {
    background: $focus !important;
    color: $text-dark;
    outline: 0.1875em solid $focus !important;
    text-decoration: none;
}

select:not(.ng-pristine) {
    font-size: 1em;
    font-weight: bold !important;
    line-height: 1em;
}

label[role="radio"]:focus {
    outline: 0.1875em solid $focus !important;
    outline-offset: 0;
}

input[type="checkbox"] + label:focus,
input[type="radio"] + label:focus {
    outline: 0.1875em solid $focus !important;
    outline-offset: 0;
}

/* --------------------------------------------------- end custom ------------------------------------------------------ */

/* --------------------------------------------------- button ------------------------------------------------------ */
.ocs-button-blue {
    background-color: $blue-text;
    border-radius: 0;
    color: $white;
    padding: 0.5em 2em;
    width: 8.1428em;
}

.ocs-button-white {
    background-color: $white;
    border-radius: 0.1428em;
    box-shadow: 0 0.071428em 0.21428 0 rgba(0, 0, 0, 0.3);
    color: $text;
    padding: 0.5em 1.5em;
    width: 8.1428em;
}

.ocs-width-auto {
    width: auto;
}

.ocs-width-80 {
    width: 80%;
}

/* button with icon */
ux-button {
    button {
        span.fa-download {
            float: right;
            margin-left: 0.3em;
        }
    }
}

/* --------------------------------------------------- end button ------------------------------------------------------ */

/* --------------------------------------------------- sidebar ------------------------------------------------- */
#app-wrapper.sidebar-inner-active.sidebar-state-open.sidebar-state-close-with-icons {
    #main-content {
        margin-left: 13.5em;
    }
}

.sidebar-state-open {
    .sidebar {
        width: 13.5em;
    }
}

ux-layout-sidebar {
    .sidebar {
        .sidebar-inner {
            background: #003674;

            ux-layout-sidebar-items {
                .sidebar-items {
                    ux-layout-sidebar-item {
                        border-bottom: 0.071428em solid $blue-text;
                        display: block;

                        .sidebar-item {
                            & > a {
                                display: inline-block;
                                width: 100%;

                                & > .sidebar-item__header--is-toggling-subitems {
                                    &:active,
                                    &:visited,
                                    &:focus {
                                        background-color: #002957;
                                        border: 0.21em solid transparent;
                                        border-bottom: 0.071428em solid $blue-text;
                                    }

                                    &.sidebar-item__header--active {
                                        background-color: #002957;
                                        //border: 0.21em solid transparent;
                                        color: $white;

                                        &::before {
                                            border-bottom: 0.49rem solid transparent;
                                            border-left: 0 solid whitesmoke;
                                            border-right: 0.28rem solid whitesmoke;
                                            border-top: 0.49rem solid transparent;
                                            content: " ";
                                            display: inline-block;
                                            position: absolute;
                                            right: -0.21em;
                                        }

                                        &:active {
                                            border-left: 0;
                                        }
                                    }
                                }
                            }

                            & > .sidebar-item__header--is-toggling-subitems {
                                &:active,
                                &:visited,
                                &:focus {
                                    background-color: #002957;
                                    border: 0.21em solid transparent;
                                    border-bottom: 0.071428em solid $blue-text;
                                }
                            }

                            & > .sidebar-item__header--active {
                                background-color: #002957;
                                border: 0.21em solid transparent;
                                color: $white;
                            }
                        }
                    }

                    .sidebar-item__sub {
                        ux-layout-sidebar-item {
                            .sidebar-item {
                                .sidebar-item__header--large {
                                    background: #212121;

                                    &.sidebar-item__header--active {
                                        background: #212121;
                                        border-bottom: 0.07em solid $blue-text;
                                        border-left: 0.21em solid #f8e71c;
                                    }

                                    .sidebar-item__header-icon-wrapper {
                                        color: #b4e5fd;
                                        font-size: 1.12em;
                                        margin-right: 0.1428em;
                                        order: 2;
                                        padding: 0.33rem;
                                    }

                                    .sidebar-item__header-label-wrapper {
                                        order: 1;

                                        .sidebar-item__header-label-wrapper-label {
                                            &:hover {
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ---------------------------------------------------  end sidebar ------------------------------------------------- */

/* --------------------------------------------------- content ------------------------------------------------------ */
#main {
    background-color: $white;
}

#main-content {
    background: $white;
    padding: 0 0 3em 0;
}

h3.ocs-title-section {
    font-family: "eui-bold";
    font-size: 1.575em;
}

.ocs-content {
    position: relative;

    .ocs-content-settings {
        h4 {
            color: $text-medium;
            font-family: "eui-bold";
            font-size: 1.428em;
        }
    }
}

input {
    height: 2.375em !important;
}

input::placeholder {
    color: #303030;
}

/* --------------------------------------------------- end content ------------------------------------------------------ */

/* --------------------------------------------------- dashoard ------------------------------------------------------ */
#ocs-dashboard,
#ocs-delete,
#ocs-export,
#ocs-feedback,
#ocs-feedback2 {
    padding: 2.1428em;
}

#ocs-feedback2 {
    float: left;
    margin-bottom: 2em;
}

.ocs-shadow {
    box-shadow: 0 0.1428em 0.2857em 0 rgba(0, 0, 0, 0.5);
    margin-top: 1.428em;
    padding: 1.428em 2.1428em;

    h4 {
        font-size: 1.15em;
        font-weight: 600;
        margin-bottom: 1em;
    }
}

/* Progress circle */

.ux-progress-circle {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 0 0 0 rgba(0, 0, 0, 0.24);

    &::before {
        background: #ebebeb;
        border: 0.0625em solid #076abb;
        border-radius: 50%;
        content: " ";
        display: block;
        height: 6rem;
        position: absolute;
        text-align: center;
        width: 6rem;
    }

    &::after {
        border: 0.0625em solid #076abb;
        border-radius: 53%;
        color: $blue-text;
    }

    .ux-progress-circle__value-bar {
        border: 0.78947rem solid #076abb;
    }

    .ux-progress-circle__first50-bar {
        background-color: #076abb !important;
    }
}

.ocs-circle {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 0.5em;

    ocs-circle-chart {
        .mb-2 {
            margin-bottom: 1.5em !important;
        }
    }
}

.ocs-circle7 {
    display: inline-block;
    margin: 0 auto 3em;
    text-align: center;
    width: 33.333%;
    @media screen and (max-width: 47.9375em) {
        width: 50%;
    }
    @media screen and (max-width: 30em) {
        width: 100%;
    }

    ux-progress-circle {
        display: flex;
        justify-content: center;
    }
}

.ux-progress-circle-wrapper {
    height: 11em;
}

.ux-progress-circle__bottom-label {
    &.ux-progress-circle--large {
        padding-top: 6em;
    }

    .label {
        display: block;
        font-size: 0.5em;
        line-height: 1.5em;
        text-align: center;
    }
}

/* evolutions */

#ocs-dashboard {
    p-chart {
        div {
            margin: 0 auto;
        }
    }
}

ocs-evolution-total {
    ux-button-group {
        .ux-button-group {
            left: calc(100% - 5em);
            top: -1.875em;
        }
    }
}

ocs-evolution-country {
    ux-button-group {
        .ux-button-group {
            left: calc(100% - 5em);
            top: -2.5em;
        }
    }
}

ocs-evolution-country,
ocs-evolution-total {
    .table {
        box-shadow: 0 0.125em 0.25em 0 rgba(0, 0, 0, 0.5);

        tr {
            &:nth-child(2n) {
                background: $table-row;
            }

            th {
                border-right: 0.0625em solid #d8d8d8;
                border-top: 0 !important;
                padding: 1.25rem 3rem 1.25em 1.5em;

                &:first-child {
                    width: 20%;
                }
            }

            padding: 0 2em 0 1.2em;

            td {
                border-right: 0.0625em solid #d8d8d8;
                border-top: 0 !important;
                padding: 1rem 3rem 1em 1.5em;

                &:first-child {
                    width: 20%;
                }
            }
        }
    }
}

/* --------------------------------------------------- end dashoard ------------------------------------------------------ */

.ocs-background-select {
    margin-left: 0;

    label.col-md-4 {
        flex: 0 0 100%;
        float: left;
        font-family: "eui-bold", "Helvetica Neue", Helvetica, sans-serif !important;
        font-size: 0.9em;
        max-width: 100%;
        text-align: left;
    }

    .col-md-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* customise background */

    .background1,
    .background2,
    .background3,
    .background4,
    .background5,
    .background6,
    .background7,
    .background8 {
        display: inline-block;

        ux-form-control {
            left: 0.7em;
            position: relative;

            // &.ng-touched {
            //     border: 0.1428em solid $black !important;
            //     height: 100%;
            //     left: 0;
            //     position: absolute;
            //     width: 100px;
            // }

            input[type="radio"]:checked + label {
                border: 0.1428em solid $black !important;
                height: 100%;
                left: -1.15em;
                position: relative;
                top: -0.4em;
                width: 100px;
            }

            label {
                height: 100%;
                left: -1.2em;
                position: relative;
                width: 100px;

                &::before,
                &::after {
                    background: transparent;
                    border: 0;
                    box-shadow: none;
                    height: 100%;
                    position: absolute;
                    top: 0.5em;
                    width: 100%;
                }
            }
        }
    }

    .background1 {
        background: url(../img/background1.png) center center no-repeat;
        height: 60px;
        margin-bottom: 1em;
        width: 100px;
    }

    .background2 {
        background: url(../img/background2.png) center center no-repeat;
        height: 60px;
        margin-bottom: 1em;
        width: 100px;
    }

    .background3 {
        background: url(../img/background3.png) center center no-repeat;
        height: 60px;
        margin-bottom: 1em;
        width: 100px;
    }

    .background4 {
        background: url(../img/background4.png) center center no-repeat;
        height: 60px;
        margin-bottom: 1em;
        width: 100px;
    }

    .background5 {
        background: url(../img/background5.png) center center no-repeat;
        height: 60px;
        margin-bottom: 1em;
        width: 100px;
    }

    .background6 {
        background: url(../img/background6.png) center center no-repeat;
        height: 60px;
        margin-bottom: 1em;
        width: 100px;
    }

    .background7 {
        background: url(../img/background7.png) center center no-repeat;
        height: 60px;
        margin-bottom: 1em;
        width: 100px;
    }

    .background8 {
        background: url(../img/background8.png) center center no-repeat;
        height: 60px;
        margin-bottom: 1em;
        width: 100px;
    }
}

.ocs-social-friends {
    & > ux-form-group {
        & > .ux-form-group--vertical {
            & > label.ux-form-group__label-wrapper {
                clip: rect(0.0625em 0.0625em 0.0625em 0.0625em);
                clip: rect(0.0625em, 0.0625em, 0.0625em, 0.0625em);
                height: 0.0625em;
                overflow: hidden;
                position: absolute !important;
            }
        }
    }
}

.ocs-social {
    .ux-a-icon {
        display: inline-block;
    }

    ux-form-group {
        position: relative;
        top: 0;

        .ux-form-group {
            display: block;
            //height: 3em;
            margin-bottom: 0;
            width: 100%;

            label.ux-form-group__label-wrapper {
                .ux-form-group__label {
                    clip: rect(0.0625em 0.0625em 0.0625em 0.0625em);
                    clip: rect(0.0625em, 0.0625em, 0.0625em, 0.0625em);
                    height: 0.0625em;
                    overflow: hidden;
                    position: absolute !important;
                    width: 0.0625em;
                }
            }
        }
    }
}

.ocs-social-box {
    input::placeholder {
        color: $text !important;
    }

    display: block;
    width: 100%;

    .col-md-8 {
        height: 2.3em;
        width: 100%;

        .ux-form-group__input-content {
            position: relative;
            top: -1.8em;
        }

        ux-a-icon {
            display: inline-block;
            position: relative;

            .ux-icon-fw {
                font-size: 3.4em !important;
                margin-right: 0;
                position: relative;
                top: 0.3em;
            }
        }

        ux-form-control {
            display: inline-block;
            width: 80%;
        }
    }
}

/* --------------------------------------------------- certificate ------------------------------------------------------ */
.certificate {
    a.btn {
        background: $blue-text;
        color: $white;
        padding: 0.8em 1em 0.8em 2em;
    }

    .ocs-drop-drag {
        ocs-upload {
            div {
                & > div.mb-1 {
                    display: none;
                }
            }
        }
    }
}

/* --------------------------------------------------- end certificate ------------------------------------------------------ */

/* --------------------------------------------------- paginator ------------------------------------------------------ */

.ocs-paginator {
    float: left;
    margin: 1em auto 3em;
    width: 100%;

    .ui-paginator.ui-widget-header {
        background: $white;

        a.ui-paginator-first,
        a.ui-paginator-prev,
        a.ui-paginator-last,
        a.ui-paginator-next {
            border: 0;
        }

        .ui-paginator-pages {
            a.ui-state-active {
                background: $blue-text;
            }

            a.ui-state-default {
                margin-left: 0.3em;
                padding: 0.5em 0.8em;
            }
        }
    }
}

/* --------------------------------------------------- end paginator ------------------------------------------------------ */

.ocs-customise-section {
    border-bottom: 0.1428em solid #d7d7d7;
    padding: 1em 0 2em;
    width: 98%;

    &:last-child {
        border-bottom: 0;
    }

    &.custom {
        ux-form-group {
            .ux-form-group {
                label.ux-form-group__label-wrapper {
                    .ux-form-group__label {
                        display: block;
                        font-family: 'eui-bold';
                        font-size: 1em;
                    }
                }
            }
        }

        ux-form-control {
            display: inline-block;
            width: 80%;
        }
    }
}

.ocs-image-default {
    margin: 1.5em auto 0;
    text-align: center;

    img {
        height: 20.625em;
    }
}

/* --------------------------------------------------- paginator ------------------------------------------------------ */
.ocs-paginator {
    float: left;
    margin: 1em auto 3em;
    width: 100%;

    .ui-paginator.ui-widget-header {
        background: $white;

        a.ui-paginator-first,
        a.ui-paginator-prev,
        a.ui-paginator-last,
        a.ui-paginator-next {
            border: 0;
        }

        .ui-paginator-pages {
            a.ui-state-active {
                background: $blue-text;
            }

            a.ui-state-default {
                margin-left: 0.3em;
                padding: 0.5em 0.8em;
            }
        }
    }
}

/* --------------------------------------------------- end paginator ------------------------------------------------------ */
.ocs-customise-section {
    border-bottom: 0.1428em solid #d7d7d7;
    padding: 1em 0 2em;
    width: 98%;

    &:last-child {
        border-bottom: 0;
    }

    &.custom {
        ux-form-group {
            .ux-form-group {
                label.ux-form-group__label-wrapper {
                    .ux-form-group__label {
                        display: block;
                        font-family: 'eui-bold';
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

/* -------------------------------------------------- logout ----------------------------------------------------- */
.ocs-user-infos {
    color: $blue-text;
    float: right;
    position: relative;
    top: -0.5em;
}

/* --------------------------------------------------- modal ------------------------------------------------------ */
.ocs-modal {
    .modal-dialog {
        .modal-content {
            border: 0.1428em  solid $warning;

            .modal-header {
                .modal-title {
                    font-size: 14px;
                }
            }

            .modal-body {
                font-size: 14px;

                .icon-modal {
                    font-size: 16px;
                    margin-bottom: 0.5em;
                    text-align: left;

                    i {
                        &::before {
                            color: $warning;
                        }
                    }
                }
            }
        }
    }
}

/* ------------------------------------------ delete support ------------------------- */
#ocs-delete {
    form {
        .ocs-line-row {
            ux-form-control {
                display: inline-block;
                width: 80%;

                input {
                    height: 2.9em !important;
                    width: 98%;
                }
            }

            ux-button {
                display: inline-block;

                button {
                    background: transparent;
                    border-color: transparent;
                    box-shadow: none;

                    .fa-trash {
                        &::before {
                            color: $blue-text;
                            font-size: 2em;
                        }
                    }

                    .ux-button__content {
                        display: none;
                    }
                }
            }
        }

        .ocs-add-row {
            margin: 0;
            position: relative;
            text-align: right;
            width: 78%;
            @media all and (-ms-high-contrast: none) {
                top: -0.5em;
            }
        }

        .ocs-box-button {
            display: inline-block;
            margin: 0 0 3em;
            position: relative;
            text-align: right;
            width: 78%;
        }
    }

    .icon-add {
        background: url(../img/plus-simple-line-icons.png) 0 0.3em no-repeat;
        display: inline-block;
        height: 1.3em;
        width: 1.2em;
    }
}

/* ----------------------------------------------------------------------------------
                                     BREAK-POINTS
----------------------------------------------------------------------------------- */
@media screen and (max-width: 48.3em) {
    #app-header {
        .title {
            h1.full {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                font-size: 1.5em;
                height: 2.3em;
                top: 0.1em;
                width: 50%;

                a {
                    color: $white !important;
                    margin-top: 0;
                }
            }
        }

        .right-content {
            display: block;
            right: 1em;
            top: -1.5em;

            .links {
                select {
                    background: $blue-text;
                    border: $white;
                    color: $white !important;

                    option {
                        background: $white;
                        color: #9e9e9e !important;
                    }
                }
            }
        }
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .ocs-social-box {
        .col-md-8 {
            ux-a-icon {
                .ux-icon-fw {
                    top: 0;
                }
            }
        }
    }

    // IE11
    .ocs-user-infos {
        top: 1em;
    }

    .links {
        position: absolute;
        right: 9.8em;
        top: -2.8em;
    }

    #ocs-delete {
        form {
            .ocs-line-row {
                ux-button {
                    position: relative;
                    top: -0.5em;

                    button {
                        position: relative;
                        top: -0.5em;
                    }
                }
            }
        }
    }
}
